<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <link rel="icon" type="image/x-icon" href="cgap\images\favicon.ico" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />

    {% if title %}
    <title>CGAP Beyond Victims - {{ title }}</title>
    {% else %}
    <title>CGAP Beyond Victims</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">CGAP Beyond Victims</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('blogs') }}">Blogs</a>
              <a class="nav-item nav-link" href="{{ url_for('submit_post') }}">Submissions</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>

            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('new_post') }}"
                >New Post</a
              >
              <a class="nav-item nav-link" href="{{ url_for('account') }}"
                >Account</a
              >
              <a class="nav-item nav-link" href="{{ url_for('logout') }}"
                >Logout</a
              >
              {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}"
                >Login</a
              >
              <a class="nav-item nav-link" href="{{ url_for('register') }}"
                >Register</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %} {% block content %}{%
          endblock%}
        </div>

        {% if title %}
        <div class="content-section">
          <h3>Our Sidebar</h3>
          <p class="text-muted">Random Sidebar Information.</p>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
        </div>
        {% else %}
        ...
        {% endif %}
        <!-- <div class="content-section">
          <h3>Our Sidebar</h3>
          <p class='text-muted'>Random Sidebar Information.
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">Latest Posts</li>
              <li class="list-group-item list-group-item-light">Announcements</li>
              <li class="list-group-item list-group-item-light">Calendars</li>
              <li class="list-group-item list-group-item-light">etc</li>
            </ul>
          </p>
        </div> -->
        <div class="col-md-4"></div>
      </div>
    </main>
    <div>
      <div className="footer">
        <div className="container fit-content">
          <div className="row">
            <div className="footer-content">
              <div className="footer-col first">
                <h6>About Earth-Hour</h6>
                <p className="p-small">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Dolorem velit officiis nisi ut molestias aliquam odit quae,
                  animi, maxime ad eligendi enim quis ullam tenetur.
                </p>
              </div>

              <div className="footer-col second">
                <h6>Address</h6>
                <ul className="list-unstyled li-space-lg p-small">
                  <li>Hashu Adwani Memorial Complex, Collector's Colony,</li>
                  <li>Chembur, Mumbai,</li>
                  <li>Maharashtra 400074</li>
                </ul>
              </div>

              <div className="footer-col third">
                <span className="fa-stack">
                  <a href="#your-link">
                    <img
                      src="cgap\static\images\social\github.png"
                      alt=""
                      width="37px"
                    />
                  </a>
                </span>
                <span className="fa-stack">
                  <a href="#your-link">
                    <img
                      src="cgap\static\images\social\github.png"
                      alt=""
                      width="41px"
                    />
                  </a>
                </span>
                <span className="fa-stack">
                  <a href="#your-link">
                    <img
                      src="cgap\static\images\social\github.png"
                      alt=""
                      borderRadius="50%"
                      ,
                      width="41px"
                      }}
                    />
                  </a>
                </span>

                <p className="p-small">
                  We would love to hear from you
                  <a href="mailto:treelonmusks@gmail.com">
                    <strong> treelonmusk@gmail.com</strong>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div className="copyright">
        <div className="container fit-content">
          <div className="row">
            <div className="col-lg-12">
              <p className="p-small">Copyright © TreeLon Musks</p>
            </div>

            <div className="col-lg-12">
              <p className="p-small">
                Distributed by : <a href="https://themewagon.com/"> Lorem</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
