{% extends "layout.html" %}

{% block content %}

<article class="media content-section">

    <div class="media-body">
        <div class="article-metadata">
            <h3 class="mr-2">{{ submission.author }}</h3>
            <small class="text-muted">{{ submission.date_posted.strftime('%d-%m-%Y, %H:%M:%S') }}</small>
            

            
        </div>
        <h2 class="article-title">{{ submission.title }}</h2>
        <!--  -->
        <p class="article-content">{{ submission.content }}</p>
    </div>
</article>




{% endblock content %}