{% extends "layout.html" %} 

{% block content %}

{% for submission in submissions.items %}
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ url_for('static', filename='women_default.jpg') }}"
  />
  <div class="media-body">
    <div class="article-metadata">
      
      <small class="text-muted"
        >{{ submission.date_posted.strftime('%d-%m-%Y, %H:%M:%S') }}</small
      >
    </div>
    <h2>
      <a class="article-title" href="{{ url_for('submission', submission_id=submission.id) }}"
        >{{ submission.title }}</a
      >
    </h2>
    <p class="article-content">{{ submission.content|truncate(60, True, '...') }}</p>
  </div>
</article>
{% endfor %} 

{% for page_num in submissions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} 
  {% if page_num %} 
    {% if submissions.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('blogs', page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('blogs', page=page_num) }}">{{ page_num }}</a>
    {% endif %} 
  {% else %} 
    ... 
  {% endif %} 
{% endfor %} 

{% endblock content %}
